<!DOCTYPE html>
<html>
    <head>
        <title>Error nest</title>
         <link rel="stylesheet" href="css/app.css">
          <link rel="icon" href="img/weather-icon-removedbg.png" type="image/icon type">
    </head>
    <body>
        {{>header}}
        <p>{{content}}</p>
        {{>footer}}
    </body>

</html>
